@media (max-width: 1024px) {
  .grid-5 p {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .grid-5 h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .contenair {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .contenair {
    width: 100%;
  }
  html {
    font-size: 50%;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    text-align: center;
    font-size: 2.4rem;
  }
  .grid3 {
    text-align: justify;
    font-size: 1.5rem;
  }
  .grid-4 {
    width: 100%;
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid-5 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .grid-5-elem:nth-child(2) {
    grid-area: 1;
  }
  .grid-5-elem:nth-child(3) {
    grid-area: 3;
  }
  .grid-5-elem:nth-child(6) {
    grid-area: 5;
  }
  footer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
